In [12]:
import pandas as pd
import matplotlib.pyplot as plt
from tqdm.notebook import tqdm
from heatindex import heatindex
from datetime import datetime

tqdm.pandas()

In [63]:
outdoor_temp = pd.read_csv('./campaign_data/outdoor_temp.csv')

# Convert 'Date/Time' to datetime format
outdoor_temp['Date/Time'] = pd.to_datetime(outdoor_temp['Date/Time'])

# Set 'Date/Time' as the index
outdoor_temp.set_index('Date/Time', inplace=True)

outdoor_temp['Hour'] = outdoor_temp.index.hour

# Humidity data
outdoor_hum = pd.read_csv('./campaign_data/outdoor_hum.csv')

# Convert 'Date/Time' to datetime format
outdoor_hum['Date/Time'] = pd.to_datetime(outdoor_hum['Date/Time'])

# Set 'Date/Time' as the index
outdoor_hum.set_index('Date/Time', inplace=True)

outdoor_hum['Hour'] = outdoor_hum.index.hour

/tmp/ipykernel_11127/2871264763.py:1: DtypeWarning: Columns (7,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  outdoor_temp = pd.read_csv('./campaign_data/outdoor_temp.csv')
/tmp/ipykernel_11127/2871264763.py:12: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  outdoor_hum = pd.read_csv('./campaign_data/outdoor_hum.csv')

In [6]:
indoor_temp = pd.read_csv('./campaign_data/indoor_temp.csv')

# Convert 'Date/Time' to datetime format
indoor_temp['Date/Time'] = pd.to_datetime(indoor_temp['Date/Time'])

# Set 'Date/Time' as the index
indoor_temp.set_index('Date/Time', inplace=True)

indoor_temp['Hour'] = indoor_temp.index.hour

# Humidity data
indoor_hum = pd.read_csv('./campaign_data/indoor_hum.csv')

# Convert 'Date/Time' to datetime format
indoor_hum['Date/Time'] = pd.to_datetime(indoor_hum['Date/Time'])

# Set 'Date/Time' as the index
indoor_hum.set_index('Date/Time', inplace=True)

indoor_hum['Hour'] = indoor_hum.index.hour

/tmp/ipykernel_11127/2276887681.py:1: DtypeWarning: Columns (7,8,11,12,13,25,33,35) have mixed types. Specify dtype option on import or set low_memory=False.
  indoor_temp = pd.read_csv('./campaign_data/indoor_temp.csv')
/tmp/ipykernel_11127/2276887681.py:12: DtypeWarning: Columns (8,12) have mixed types. Specify dtype option on import or set low_memory=False.
  indoor_hum = pd.read_csv('./campaign_data/indoor_hum.csv')

In [54]:
outdoor_temp.head()

,point_id_outdoor_temp,Unit,Value,sensor_id_outdoor_temp,site_id,filename,hh_notes_out,gps_lat_out,gps_long_out,gps_ghanapost_out,photo_ext_out,outdoor_sensor_deployment_complete,site_type,Road_surface,pop_dens,WB_cat,ndvi,pop_dens_cat,ndvi_cat,Hour
Date/Time,,,,,,,,,,,,,,,,,,,,
2022-08-05 09:00:00,AD_3F6B_8704,C,28.0,'3F6B',AD,data_in/Outdoor_Data/Temperature_Data/AD_2022_...,NaN,5.57116,-0.211048,NaN,1667550924730.jpg,2,commercial,Asphalt,189.562943,3,0.050303,high,low,9
2022-08-05 09:10:00,AD_3F6B_8704,C,25.5,'3F6B',AD,data_in/Outdoor_Data/Temperature_Data/AD_2022_...,NaN,5.57116,-0.211048,NaN,1667550924730.jpg,2,commercial,Asphalt,189.562943,3,0.050303,high,low,9
2022-08-05 09:20:00,AD_3F6B_8704,C,25.5,'3F6B',AD,data_in/Outdoor_Data/Temperature_Data/AD_2022_...,NaN,5.57116,-0.211048,NaN,1667550924730.jpg,2,commercial,Asphalt,189.562943,3,0.050303,high,low,9
2022-08-05 09:30:00,AD_3F6B_8704,C,26.0,'3F6B',AD,data_in/Outdoor_Data/Temperature_Data/AD_2022_...,NaN,5.57116,-0.211048,NaN,1667550924730.jpg,2,commercial,Asphalt,189.562943,3,0.050303,high,low,9
2022-08-05 09:40:00,AD_3F6B_8704,C,26.0,'3F6B',AD,data_in/Outdoor_Data/Temperature_Data/AD_2022_...,NaN,5.57116,-0.211048,NaN,1667550924730.jpg,2,commercial,Asphalt,189.562943,3,0.050303,high,low,9

In [55]:
outdoor_hum.head()

,point_id_outdoor_hum,Unit,Value,sensor_id_outdoor_hum,site_id,filename,hh_notes_out,gps_lat_out,gps_long_out,gps_ghanapost_out,photo_ext_out,outdoor_sensor_deployment_complete,site_type,Road_surface,pop_dens,WB_cat,ndvi,pop_dens_cat,ndvi_cat,Hour
Date/Time,,,,,,,,,,,,,,,,,,,,
2022-08-05 09:00:01,AD_9670_9D7B,%RH,61.303,'9670',AD,data_in/Outdoor_Data/Humidity_Data/AD_2022_08_...,NaN,5.57116,-0.211048,NaN,1667550924730.jpg,2,commercial,Asphalt,189.562943,3,0.050303,high,low,9
2022-08-05 09:10:01,AD_9670_9D7B,%RH,70.110,'9670',AD,data_in/Outdoor_Data/Humidity_Data/AD_2022_08_...,NaN,5.57116,-0.211048,NaN,1667550924730.jpg,2,commercial,Asphalt,189.562943,3,0.050303,high,low,9
2022-08-05 09:20:01,AD_9670_9D7B,%RH,70.686,'9670',AD,data_in/Outdoor_Data/Humidity_Data/AD_2022_08_...,NaN,5.57116,-0.211048,NaN,1667550924730.jpg,2,commercial,Asphalt,189.562943,3,0.050303,high,low,9
2022-08-05 09:30:01,AD_9670_9D7B,%RH,68.955,'9670',AD,data_in/Outdoor_Data/Humidity_Data/AD_2022_08_...,NaN,5.57116,-0.211048,NaN,1667550924730.jpg,2,commercial,Asphalt,189.562943,3,0.050303,high,low,9
2022-08-05 09:40:01,AD_9670_9D7B,%RH,68.375,'9670',AD,data_in/Outdoor_Data/Humidity_Data/AD_2022_08_...,NaN,5.57116,-0.211048,NaN,1667550924730.jpg,2,commercial,Asphalt,189.562943,3,0.050303,high,low,9

In [48]:
outdoor_link_df = pd.read_csv('./campaign_data/link_outdoor_hum_temp_nearest.csv')
indoor_link_df = pd.read_csv('./campaign_data/link_indoor_hum_temp_nearest.csv')

In [39]:
outdoor_link_df.head(20)

,site_id,point_id_outdoor_hum,gps_lat_out_hum,gps_long_out_hum,point_id_outdoor_temp,gps_lat_out_temp,gps_long_out_temp,distance_meter
0,AD,AD_9670_9D7B,5.571160,-0.211048,AD_3F6B_8704,5.571160,-0.211048,0
1,ASH,ASH_9336_A1A2,5.703020,-0.022701,ASH_6815,5.703020,-0.022701,0
2,EL,EL_9A9A,5.640960,-0.169446,EL_7598_EF31,5.640960,-0.169446,0
3,JT,JT_92FC,5.540133,-0.210416,JT_3BAA,5.540133,-0.210416,0
4,LA,LA_91BB,5.554796,-0.161052,LA_3B78,5.554796,-0.161052,0
5,N1W,N1W_950F,5.607838,-0.248710,N1W_5100,5.607838,-0.248710,0
6,NM,NM_9463,5.581654,-0.198816,NM_743F,5.581654,-0.198816,0
7,TF,TF_9438,5.661895,-0.252120,TF_983E,5.661895,-0.252120,0
8,TMW,TMW_94DE,5.650801,-0.104824,TMW_5BF2,5.650801,-0.104824,0
9,UGH,UGH_9887,5.649943,-0.195345,UGH_6D23,5.649943,-0.195345,0

In [38]:
def calculate_frequency_and_std(dataframe, group_column):
    # Ensure the "Date/Time" column is in datetime format
    dataframe['Date/Time'] = pd.to_datetime(dataframe.index)
    
    # Calculate the difference in time between consecutive measurements within each group
    dataframe['Time_Diff'] = dataframe.groupby(group_column)['Date/Time'].diff().dt.total_seconds() / 60  # Convert to minutes
    
    # Define a function to get the smallest mode
    def smallest_mode(series):
        return series.mode().min()
    
    # Calculate the average frequency, standard deviation, count, and smallest mode for each group
    results = dataframe.groupby(group_column)['Time_Diff'].agg(['mean', 'std', 'count', ('mode', smallest_mode)]).reset_index()
    
    # Calculate the overall average of means and modal values
    overall_mean = results['mean'].mean()
    overall_std = results['std'].mean()
    overall_mode_avg = results['mode'].mean()
    
    # Print the results for each group
    for index, row in results.iterrows():
        print(f"Site ID: {row[group_column]}, Average Frequency: {row['mean']:.2f} minutes, Standard Deviation: {row['std']:.2f} minutes, Modal Frequency: {row['mode']:.2f} minutes, Data Points: {row['count']}")
    
    # Print the overall averages
    print(f"\nOverall Average Frequency (Mean): {overall_mean:.2f} minutes, Overall Average Standard Deviation: {overall_std:.2f} minutes, Overall Modal Average Frequency: {overall_mode_avg:.2f} minutes")

# calculate_frequency_and_std(outdoor_temp, 'site_id')
# calculate_frequency_and_std(indoor_temp, 'sensor_id_indoor_temp')
# 
calculate_frequency_and_std(outdoor_hum, 'site_id')
# calculate_frequency_and_std(indoor_hum, 'sensor_id_indoor_hum')

Site ID: AD, Average Frequency: 18.39 minutes, Standard Deviation: 635.01 minutes, Modal Frequency: 10.00 minutes, Data Points: 32359
Site ID: ASH, Average Frequency: 14.94 minutes, Standard Deviation: 533.10 minutes, Modal Frequency: 10.00 minutes, Data Points: 38459
Site ID: EL, Average Frequency: 13.21 minutes, Standard Deviation: 388.90 minutes, Modal Frequency: 10.00 minutes, Data Points: 43493
Site ID: JT, Average Frequency: 13.64 minutes, Standard Deviation: 352.35 minutes, Modal Frequency: 10.00 minutes, Data Points: 38433
Site ID: LA, Average Frequency: 13.67 minutes, Standard Deviation: 344.83 minutes, Modal Frequency: 10.00 minutes, Data Points: 43507
Site ID: N1W, Average Frequency: 13.53 minutes, Standard Deviation: 397.16 minutes, Modal Frequency: 10.00 minutes, Data Points: 42477
Site ID: NM, Average Frequency: 13.07 minutes, Standard Deviation: 323.62 minutes, Modal Frequency: 10.00 minutes, Data Points: 45541
Site ID: TF, Average Frequency: 13.67 minutes, Standard Deviation: 344.78 minutes, Modal Frequency: 10.00 minutes, Data Points: 43501
Site ID: TMW, Average Frequency: 14.20 minutes, Standard Deviation: 393.68 minutes, Modal Frequency: 10.00 minutes, Data Points: 40474
Site ID: UGH, Average Frequency: 13.17 minutes, Standard Deviation: 384.23 minutes, Modal Frequency: 10.00 minutes, Data Points: 43633

Overall Average Frequency (Mean): 14.15 minutes, Overall Average Standard Deviation: 409.77 minutes, Overall Modal Average Frequency: 10.00 minutes

In [67]:
import pandas as pd

# Assuming outdoor_temp, outdoor_hum, and outdoor_link_df are already loaded DataFrames

# Rename 'Value' column to specific names before setting the index
outdoor_temp.rename(columns={'Value': 'Value_temp'}, inplace=True)
outdoor_hum.rename(columns={'Value': 'Value_hum'}, inplace=True)

# Add 'site_id' to outdoor_temp and outdoor_hum by mapping from outdoor_link_df
# outdoor_temp['site_id'] = outdoor_temp['point_id_outdoor_temp'].map(outdoor_link_df.set_index('point_id_outdoor_temp')['site_id'])
# outdoor_hum['site_id'] = outdoor_hum['point_id_outdoor_hum'].map(outdoor_link_df.set_index('point_id_outdoor_hum')['site_id'])

# # Convert 'Date/Time' to a datetime index and ensure it is sorted for both DataFrames
# outdoor_temp.index = pd.to_datetime(outdoor_temp.index)
# outdoor_hum.index = pd.to_datetime(outdoor_hum.index)

outdoor_temp = outdoor_temp.sort_index()
outdoor_hum = outdoor_hum.sort_index()

# Define tolerance for merging (e.g., 10 minutes)
tolerance = pd.Timedelta(minutes=10)

# Merge using pd.merge_asof. Note that this requires both DataFrames to be sorted by the 'Date/Time' index.
# We'll perform this operation for each 'site_id' to ensure correctness.
result_frames = []
for site_id in outdoor_link_df['site_id'].unique():
    temp_df = outdoor_temp[outdoor_temp['site_id'] == site_id]
    hum_df = outdoor_hum[outdoor_hum['site_id'] == site_id]
    
    # Ensure data is sorted by 'Date/Time'
    temp_df = temp_df.sort_index()
    hum_df = hum_df.sort_index()
    
    # Reset index to bring 'Date/Time' back as a column for merging
    temp_df.reset_index(inplace=True)
    hum_df.reset_index(inplace=True)
    
    # Merge with pd.merge_asof
    merged_df = pd.merge_asof(temp_df, hum_df, on='Date/Time', by='site_id', tolerance=tolerance, direction='nearest')

    print(len(merged_df))
    result_frames.append(merged_df)

# Concatenate all the merged data for each site
final_merged_df = pd.concat(result_frames)

# Assuming you want to keep only rows where both temperature and humidity data are available
final_merged_df = final_merged_df.dropna(subset=['Value_temp', 'Value_hum'])

print(final_merged_df[['Date/Time', 'site_id', 'Value_temp', 'Value_hum']].head())

39852
48474
49867
42761
43793
49854
44887
42870
49870
49693
            Date/Time site_id  Value_temp  Value_hum
0 2022-08-05 09:00:00      AD        28.0     61.303
1 2022-08-05 09:10:00      AD        25.5     70.110
2 2022-08-05 09:20:00      AD        25.5     70.686
3 2022-08-05 09:30:00      AD        26.0     68.955
4 2022-08-05 09:40:00      AD        26.0     68.375

In [68]:
len(final_merged_df[['Date/Time', 'site_id', 'Value_temp', 'Value_hum']])

461921